<header class="header">
  <div class="container header__container">
    <a href="/" class="header__logo">
      <img loading="lazy" src="img/logos/logo.png" class="image" width="" height="" alt="">
    </a>
    <div class="header__info">
      <div class="header__tel icon-info">
        <img loading="lazy" src="img/icons/phone.svg" class="image" width="" height="" alt="">
        <a href="tel:+78126708816" class="header__tel icon-info">+7 (812) 670-88-16</a>
      </div>
      <div class="header__tel icon-info">
        <img loading="lazy" src="img/icons/phone.svg" class="image" width="" height="" alt="">
        <a href="tel:+74953575900" class="header__tel icon-info">+7 (495) 357-59-00</a>
      </div>
      <div class="header__mail icon-info">
        <img loading="lazy" src="img/icons/mail.svg" class="image" width="" height="" alt="">
        <a href="mailto:info@pegas-rus.ru" class="header__tel icon-info">info@pegas-rus.ru</a>
      </div>
    </div>
  </div>
</header>